[submodule "lab-1-slawry00"]
	path = lab-1-slawry00
	url = https://github.com/jbc-cp/lab-1-slawry00.git
[submodule "lab-2-slawry00"]
	path = lab-2-slawry00
	url = https://github.com/jbc-cp/lab-2-slawry00.git
[submodule "lab-3-slawry00"]
	path = lab-3-slawry00
	url = https://github.com/jbc-cp/lab-3-slawry00.git
[submodule "lab-4-slawry00"]
	path = lab-4-slawry00
	url = https://github.com/jbc-cp/lab-4-slawry00.git
[submodule "lab-5-slawry00"]
	path = lab-5-slawry00
	url = https://github.com/jbc-cp/lab-5-slawry00.git
[submodule "lab-6-slawry00"]
	path = lab-6-slawry00
	url = https://github.com/jbc-cp/lab-6-slawry00.git
[submodule "lab-7-slawry00"]
	path = lab-7-slawry00
	url = https://github.com/jbc-cp/lab-7-slawry00.git
[submodule "project-1-slawry00"]
	path = project-1-slawry00
	url = https://github.com/jbc-cp/project-1-slawry00.git
[submodule "project-2-slawry00"]
	path = project-2-slawry00
	url = https://github.com/jbc-cp/project-2-slawry00.git
[submodule "project-3-slawry00"]
	path = project-3-slawry00
	url = https://github.com/jbc-cp/project-3-slawry00.git
